
<html>
    <head>
        <title>Coin App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/amelia.bootstrap.css">
        <link rel="stylesheet" href="css/coins.css">
    </head>
    <body ng-app="bbc">
        <h1>Coin Calculator</h1>
        <div class="navbar navbar-default navbar-fixed-topa">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="col-xs-4"><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
                    <li class="col-xs-4"><a href="#/"><span title="Enter amount and press enter to get the coins required for the amount. Valid amounts are £1.2, 120p, 2.34 etc" 
                                                            class="glyphicon glyphicon-question-sign"></span></a></li>
                </ul>
            </div>
        </div>
        <div ng-controller="CoinController">
            <div class='col-sm-12 input-group-lg'>
                <label>Amount</label>
                <input type="text" ng-model="val" ng-keypress="doCalc($event)">
            </div>
            <div class='col-sm-6 input-lg'>
                <input class='col-xs-12' type="text" ng-model="message" readonly>
            </div>
        </div>
        <script src="bower_components/angular/angular.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controller.js"></script>
    </body>
</html>
